@page "/books"

<PageTitle>Libros</PageTitle>

<div class="flex flex-col   w-full mt-[20px] gap-4 px-4">

   

            <div class="flex w-full items-center gap-2 justify-between">
                <h2 class="text-3xl font-semibold">Libros</h2>

                <div class="flex items-center gap-2 ">
                    <GenresDropdown>
                    <IconButton TooltipText="Ver géneros">
                        
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-tag-icon lucide-tag"><path d="M12.586 2.586A2 2 0 0 0 11.172 2H4a2 2 0 0 0-2 2v7.172a2 2 0 0 0 .586 1.414l8.704 8.704a2.426 2.426 0 0 0 3.42 0l6.58-6.58a2.426 2.426 0 0 0 0-3.42z"/><circle cx="7.5" cy="7.5" r=".5" fill="currentColor"/></svg>       
                        </IconButton>
                    </GenresDropdown>
                    <AuthorsDropdown>
                        <IconButton TooltipText="Ver Autores">
                         <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-type-icon lucide-type"><path d="M12 4v16"/><path d="M4 7V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2"/><path d="M9 20h6"/></svg>           
                        </IconButton>
                    </AuthorsDropdown>
                </div>
            
            
            </div>

        <div class="flex w-full gap-2 items-center">
            <LumexTextbox Type="@InputType.Search"
                            Label="Buscar libro"
                            Placeholder="Ej. Canción de hielo y fuego"
                            LabelPlacement="@LabelPlacement.Outside"
                            Description="Usa los filtros de abajo para filtrar por libro o autor"/>
            <LumexButton Size="Size.Small" Color="ThemeColor.Primary" >Buscar</LumexButton>
        </div>
        <div class="mb-3">
            <LumexChip  @onclick='()=>{SetFilterBy("name");}' Variant="@(FilterBy == "name" ? ChipVariant.Solid : ChipVariant.Flat )"  Color="@ThemeColor.Primary">Por Nombre</LumexChip>
            <LumexChip @onclick='()=>{SetFilterBy("author");}' Variant="@(FilterBy == "author" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Por Autor</LumexChip>
            <LumexChip @onclick='()=>{SetFilterBy("genre");}' Variant="@(FilterBy == "genre" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Por Género</LumexChip>

        </div>
        <BooksContainer/>

    
    
   
</div>



@code{
    public string FilterBy {get; set;} = "name";

}

@functions{
    public void SetFilterBy(string filter){
        FilterBy = filter;
    }

}