@page "/loans"
<PageTitle>Penalizaciones</PageTitle>
<div class="flex flex-col w-full mt-[20px] gap-4 px-4">

    <div class="flex w-full items-center gap-2 justify-between">
        <h2 class="text-3xl font-semibold">Préstamos</h2>
       
    </div>

    <div class="flex w-full gap-2 items-center">
        <LumexTextbox Type="@InputType.Search"
                        Label="Filtrar Préstamos"
                        Placeholder="@PlaceholderText"
                        LabelPlacement="@LabelPlacement.Outside"
                        Description="Usa los filtros de abajo para filtrar por Id o por la matricula/cédula del lector"/>
         <LumexTooltip Content=@($"Buscar libros Prestamos ")>
                    <LumexButton Type="ButtonType.Submit"  Size="Size.Medium" Color="ThemeColor.Primary">Buscar</LumexButton>

                </LumexTooltip>
    </div>
    <div class="mb-3 max-w-full flex items-center gap-2 flex-wrap">
        <LumexChip  @onclick='()=>{SetFilterBy("reader");}' Variant="@(FilterBy == "reader" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Por Lector</LumexChip>
        <LumexChip  @onclick='()=>{SetFilterBy("userIdentifier");}' Variant="@(FilterBy == "userIdentifier" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Por Cédula</LumexChip>
        <LumexChip  @onclick='()=>{SetFilterBy("studentIdentifier");}' Variant="@(FilterBy == "studentIdentifier" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Por Matrícula</LumexChip>

        <div class="border rounded-full border-neutral-300 h-[10px] " />

        <LumexChip @onclick='()=>{SetFilterByState("all");}' Variant="@(FilterByState == "all" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Todos</LumexChip>
        <LumexChip  @onclick='()=>{SetFilterByState("pending");}' Variant="@(FilterByState == "pending" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Pendientes</LumexChip>
        <LumexChip  @onclick='()=>{SetFilterByState("returned");}' Variant="@(FilterByState == "returned" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Entregados</LumexChip>
        <LumexChip  @onclick='()=>{SetFilterByState("exceeded");}' Variant="@(FilterByState == "exceeded" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Excedidos</LumexChip>

    </div>
    <SidebarSectionDivider Name="Prestamos"/>
    <div class="w-full flex flex-col gap-3">
        <button class="hover:bg-green-50 cursor-pointer transition-all rounded-lg border-dashed border-2 w-full flex items-center justify-center p-2 border-green-600 gap-2">
            <span class="text-green-600 font-semibold text-sm">Crear prestamo</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=" text-green-600 lucide lucide-handshake-icon lucide-handshake"><path d="m11 17 2 2a1 1 0 1 0 3-3"/><path d="m14 14 2.5 2.5a1 1 0 1 0 3-3l-3.88-3.88a3 3 0 0 0-4.24 0l-.88.88a1 1 0 1 1-3-3l2.81-2.81a5.79 5.79 0 0 1 7.06-.87l.47.28a2 2 0 0 0 1.42.25L21 4"/><path d="m21 3 1 11h-2"/><path d="M3 3 2 14l6.5 6.5a1 1 0 1 0 3-3"/><path d="M3 4h8"/></svg>
        </button>
        <LoanCard IsPending="@true"/>
         <LoanCard IsPending="@false"/>
        <LoanCard IsPending="@true" IsExceeded="@true" />

    </div>
   
</div>

@code{
    public string FilterBy {get; set;} = "userIdentifier";
    public string FilterByState {get; set;} = "all";

    public string PlaceholderText
    {
        get
        {
            return FilterBy switch
            {
                "reader" => "Ej: Nombre del lector",
                "userIdentifier" => "Ej: 000-0000000-0",
                "studentIdentifier" => "Ej: 2021-1234",
                _ => "Buscar..."
            };
        }
    }

   

}

@functions{
    public void SetFilterBy(string filter){
        FilterBy = filter;
    }

    public void SetFilterByState(string filter){
        FilterByState = filter;
    }

    

}