@page "/readers"

<PageTitle>Lectores</PageTitle>
<div class="flex flex-col w-full mt-[20px] gap-4 px-4">

    <div class="flex w-full items-center gap-2 justify-between">
        <h2 class="text-3xl font-semibold">Lectores</h2>
    </div>

    <div class="flex w-full gap-2">
        <div class="flex flex-col gap-1 w-full">
            <LumexTextbox Type="@InputType.Search"
                          Placeholder="Buscar lectores"
                          LabelPlacement="@LabelPlacement.Outside"
                          />
            <p class="text-[13px] text-black">Usa los filtros de abajo para filtrar lectores por matricula o cédula </p>
        </div>
       
        <LumexTooltip Content=@($"Buscar libros Prestamos ")>
            <LumexButton Type="ButtonType.Submit" Size="Size.Medium" Color="ThemeColor.Primary">Buscar</LumexButton>
        </LumexTooltip>
    </div>
    <div class="mb-3 max-w-full flex items-center gap-2 flex-wrap">
        <LumexChip  @onclick='()=>{SetFilterBy("all");}' Variant="@(FilterBy == "all" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Todo</LumexChip>
        <LumexChip  @onclick='()=>{SetFilterBy("studentIdentity");}' Variant="@(FilterBy == "studentIdentity" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Solo matrícula</LumexChip>
        <LumexChip  @onclick='()=>{SetFilterBy("identity");}' Variant="@(FilterBy == "identity" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Por cédula</LumexChip>

     
    </div>
    <SidebarSectionDivider Name="Lectores"/>
    <div class="flex flex-col gap-3">

    
        <button class="border-dotted border-2 border-green-600 p-3 w-full rounded-xl hover:bg-green-100/30 transition-all flex  justify-center items-center gap-2 cursor-pointer ">
            <UserIcon Size="18px" class="text-green-700"/>
            <p class="text-[13px] text-green-700">Agregar Usuario</p>
        </button>
        
        
        <ReaderCard/>
                   
     

    </div>
   
</div>

@code{
    public string FilterBy {get; set;} = "all";

    

   

}

@functions{
    public void SetFilterBy(string filter){
        FilterBy = filter;
    }

   

    

}