@page "/readers"
@implements IDisposable
<PageTitle>Lectores</PageTitle>
<div class="flex flex-col w-full mt-[20px] gap-4 px-4">

    <div class="flex w-full items-center gap-2 justify-between">
        <h2 class="text-3xl font-semibold">Lectores</h2>
    </div>

    <div class="flex w-full gap-2">
        <div class="flex flex-col gap-1 w-full">
            <LumexTextbox Type="@InputType.Search"
                          Placeholder="Buscar lectores"
                          LabelPlacement="@LabelPlacement.Outside"
                          />
            <p class="text-[13px] text-black">Usa los filtros de abajo para filtrar lectores por matricula o cédula </p>
        </div>
       
        <LumexTooltip Content=@($"Buscar libros Prestamos ")>
            <LumexButton Type="ButtonType.Submit" Size="Size.Medium" Color="ThemeColor.Primary">Buscar</LumexButton>
        </LumexTooltip>
    </div>
    <div class="mb-3 max-w-full flex items-center gap-2 flex-wrap">
        <LumexChip  @onclick='()=>{SetFilterBy("all");}' Variant="@(FilterBy == "all" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Todo</LumexChip>
        <LumexChip  @onclick='()=>{SetFilterBy("studentIdentity");}' Variant="@(FilterBy == "studentIdentity" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Solo matrícula</LumexChip>
        <LumexChip  @onclick='()=>{SetFilterBy("identity");}' Variant="@(FilterBy == "identity" ? ChipVariant.Solid : ChipVariant.Flat )" Color="@ThemeColor.Primary">Por cédula</LumexChip>

     
    </div>
    <SidebarSectionDivider Name="Lectores"/>
    <div class="flex flex-col gap-3">

    
        <button @onclick="SetCreateReaderView" class="border-dotted border-[3px] border-green-600 p-3 w-full rounded-xl hover:bg-green-100/30 transition-all flex  justify-center items-center gap-2 cursor-pointer ">
            <UserIcon Size="18px" class="text-green-700"/>
            <p class="text-[13px] text-green-700">Agregar Usuario</p>
        </button>
        @if (!Readers.Any())
        {
            <p class=" text-center text-[13px] mt-[30px] font-semibold">No hay lectores</p>
        }
        @foreach (var reader in Readers)
        {
            <ReaderCard Reader="reader"/>

        }
        
        
                   
     

    </div>
   
</div>

@code{
    public string FilterBy {get; set;} = "all";
    public List<ReaderResponse> Readers { get; set; } = new();






}

@functions{
    public void SetFilterBy(string filter){
        FilterBy = filter;
    }

    public void HandleCreatedReaderChanged()
    {
        if (RightBarContext.CreatedReader is not null)
        {
            Readers.Add(RightBarContext.CreatedReader);
            RightBarContext.SetCreatedReader();
            StateHasChanged();
        }
    }

    public void SetCreateReaderView()
    {
        RightBarContext.SetView(RightBarView.CreateReader);
    }

    protected override void OnInitialized()
    {
        RightBarContext.OnCreatedReaderChanged += HandleCreatedReaderChanged;
    }

    public void Dispose()
    {
        RightBarContext.OnCreatedReaderChanged -= HandleCreatedReaderChanged;

    }


}