@using BibliotecaUteco.Client.Utilities
@implements IDisposable

<EditForm Model="CreateBookModel"   class="flex w-full absolute flex-col justify-center">
    <DataAnnotationsValidator/>
    
    <div class="relative w-full h-fit overflow-hidden">
        @if (string.IsNullOrEmpty(BookCoverPrview) || CreateBookModel.CoverFile is null)
        {
            <div class="bg-neutral-300 w-full h-[200px] object-cover "></div>
        }
        else
        {
            <img src="@BookCoverPrview" class=" w-full h-[200px] object-cover  "/>

        }
        <div class="absolute bottom-0 left-0 w-full h-[40px] bg-gradient-to-b from-transparent via-white/70 to-white "></div>

    </div>
    
   
   
        
    @if(CreateBookModel.CoverFile is not null && !string.IsNullOrEmpty(BookCoverPrview))
    {
        <LumexButton Class="mx-3" Variant="Variant.Light" Type="ButtonType.Button" OnClick="RemoveCover" Size="Size.Small" Color="ThemeColor.Danger">Eliminar portada</LumexButton>
    }
    else
    {
        
        <LumexButton Class="absolute  top-[100px] left-1/2 -translate-x-1/2 -translate-y-1/2" IconOnly="true" Color="ThemeColor.Primary" Variant="Variant.Light" Type="ButtonType.Button" OnClick="TriggerFileInput" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image-plus-icon lucide-image-plus"><path d="M16 5h6"/><path d="M19 2v6"/><path d="M21 11.5V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7.5"/><path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"/><circle cx="9" cy="9" r="2"/></svg>
        </LumexButton>
            
    }
    <InputFile accept=".jpg,.jpeg,.png,.webp" @ref="fileInput"  class="hidden" OnChange="HandleFileChange" />
    
    <div class="flex flex-col gap-2 px-3 py-3">
         <div class="flex flex-col gap-3 w-full mt-2" >
        <LumexTextbox Type="@InputType.Text"
                      Behavior="InputBehavior.OnInput"
                      @bind-Value="@CreateBookModel.Name"
                      Label="Nombre del libro"
                      Placeholder="Ej. 100 años de soledad"
                      EndContent="@_titleIcon"
                      LabelPlacement="@LabelPlacement.Inside"
                      Required="true"
        />
        <span class="text-xs text-red-700"><ValidationMessage For="@(() => CreateBookModel.Name)"/></span>

    </div>
    <div class="flex flex-col gap-3 w-full">
        <label for="book synopsis" class="text-sm">Synopsis o descripción</label>
        <textarea 
                        class="bg-neutral-200/50 max-w-full rounded-lg p-2 text-sm outline-none resize-none  min-h-[6rem]"
                        name="book synopsis"
                        @bind="@CreateBookModel.Synopsis"
                        placeholder="Una breve descripcion de la historia o de que trata el libro"
                        required="@true"
                        maxlength="500"

                        minlength="10"></textarea>
        <span class="text-xs text-red-700"><ValidationMessage For="@(() => CreateBookModel.Synopsis)"/></span>

    </div>
    <div class="flex flex-col gap-3 w-full">
        <LumexNumbox TValue="@int"
                     Label="Copias a disponibilidad"
                     @bind-Value="CreateBookModel.Stock"
                    Behavior="InputBehavior.OnInput"
                     LabelPlacement="LabelPlacement.Inside"
                     Placeholder="Cantidad de copias"
                     Class="max-w-xs"
                     min="1"
                     max="@int.MaxValue"
                     step="1" />
        <span class="text-xs text-red-700"><ValidationMessage For="@(() => CreateBookModel.Stock)"/></span>

    </div>
    <SidebarSectionDivider Name="Generos literarios"/>
    <div class="flex flex-col gap-3 w-full">
        <p class="text-xs">Máximo 5 generos y literarios minimo 1.</p>


        <div class="w-full gap-2 items-center flex flex-wrap">
               
            @if (CreateBookModel.Genres.Count < 5)
            {
                <GenresDropdown OnGenreSelected="HandleOnGenreSelected">
                    <LumexChip Variant="ChipVariant.Outlined">Agregar Genero</LumexChip>
                </GenresDropdown>
            }
            @foreach (var genre in CreateBookModel.Genres)
            {

                <LumexChip  OnClose="() => { RemoveGenre(genre);}">@genre.Name</LumexChip>
            }
                    
            
                  
        </div>

            
       
    </div>
    <SidebarSectionDivider Name="Autores"/>

    <div class="flex flex-col gap-3 w-full">
        <p class="text-xs">Máximo 10 autores.</p>

        <div class="w-full gap-2 items-center flex flex-wrap">
            @if (CreateBookModel.Authors.Count < 10)
            {
                <AuthorsDropdown OnAuthorSelected="HandleOnAuthorSelected">
                    <button type="button"  class="hover:bg-green-50 cursor-pointer w-full rounded-lg border-dashed border-2 border-green-700 flex flex-col items-center justify-center gap-2 p-2">
                        <label class="text-sm text-green-700">Agregar Autor</label>
                    </button>
                </AuthorsDropdown>
            }
            @foreach (var author in CreateBookModel.Authors)
            {
                
                <AuthorCard ShowRemoveButton="@true" OnRemove="RemoveAuthor" Author="@author" />
            }
                    
            
                  
        </div>
        
            
       
    </div>

    @if(_creatingBook)
    {
        <LumexSpinner Size="Size.Small" Variant="SpinnerVariant.Classic"/>
    }
    else
    {
            <LumexButton Class="w-full mt-[20px]" Type="ButtonType.Button" OnClick="FetchCreateBookAsync" Color="ThemeColor.Primary" Disabled="!context.Validate()">Registrar Libro</LumexButton>

    }

    </div>
   

</EditForm>

    
        
       
          
                    
            
        
        





@code{


    public bool _creatingBook {get; set;} = false;
    public RenderFragment _titleIcon {get; set;} = @<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-neutral-300 lucide lucide-type-icon lucide-type"><path d="M12 4v16"/><path d="M4 7V5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2"/><path d="M9 20h6"/></svg>;
    public CreateBookRequest CreateBookModel {get; set;} = new();


    [Required(ErrorMessage = "Debe seleccionar al menos un género literario.")]
    [MinLength(1, ErrorMessage = "Debe seleccionar al menos un género literario.")]

    public string CurrentFormSection {get; set;} = "name";

    public bool IsOpen {get; set;} = false;
    public string? BookCoverPrview { get; set; } = null;

   
    private InputFile? fileInput = null;
    

}

@functions{

    public void HandleOnGenreSelected(GenreResponse genre){

        if(CreateBookModel.Genres.Any(g => g.Id == genre.Id)){
            return;
        }
        CreateBookModel.Genres.Insert(0, genre);
    }

    public void RemoveGenre(GenreResponse genre){
        var remove = CreateBookModel.Genres.FirstOrDefault(g => g.Id == genre.Id);

        if(remove is not null)
        {
        CreateBookModel.Genres.Remove(remove);
        }
    }

     public void HandleOnAuthorSelected(AuthorResponse author){

        if(CreateBookModel.Authors.Any(a => a.Id == author.Id)){
            return;
        }
     CreateBookModel.Authors.Insert(0, author);
    }

    public void RemoveAuthor(AuthorResponse author){
        var remove = CreateBookModel.Authors.FirstOrDefault(g => g.Id == author.Id);

        if(remove is not null)
        {
            CreateBookModel.Authors.Remove(remove);
        }
    }


    public async Task FetchCreateBookAsync()
    {

        _creatingBook = true;
        StateHasChanged();
       

        var result = await BooksApiServices.CreateBookAsync(CreateBookModel);

        if (result.IsSuccessful())
        {   
            Toast.Success("Libro registrado con exito");
            
            RightBarContext.SetCreatedBook(result.Data);
            Clear();
        }
        _creatingBook = false;
    
        StateHasChanged();

    }

    public void Clear()
    {
        CreateBookModel = new();
       
        BookCoverPrview = null;
    }

    public async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        var result = await FileHandler.HandleImageFromInputAsync(e);
        if (result.Item1 is null)
        {
            Toast.Error("Error al subir la imagen", new ToastModel()
            {
                Description = result.Item2
            });

            return;
        }

        CreateBookModel.CoverFile = result.Item1;
        BookCoverPrview = result.Item2;

    }

    public void Dispose()
    {
        CreateBookModel = new();
        BookCoverPrview = null;
    }

    public void RemoveCover()
    {
        CreateBookModel.CoverFile = null;
        BookCoverPrview = null;
    }
    
    private async Task TriggerFileInput()
    {
        if (fileInput is null) return;
        
        await JsRuntime.InvokeVoidAsync("triggerClick", fileInput.Element);
    }

}

